<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LojasServlet</servlet-name>
        <servlet-class>br.com.bmrt.conexaobd.servlet.LojaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarLojaServlet</servlet-name>
        <servlet-class>br.com.bmrt.conexaobd.servlet.CadastrarLojaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirLojaServlet</servlet-name>
        <servlet-class>br.com.bmrt.conexaobd.servlet.ExcluirLojaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarLojaServlet</servlet-name>
        <servlet-class>br.com.bmrt.conexaobd.servlet.AlterarLojaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LojasServlet</servlet-name>
        <url-pattern>/LojasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarLojaServlet</servlet-name>
        <url-pattern>/lojas/CadastrarLojaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirLojaServlet</servlet-name>
        <url-pattern>/ExcluirLojaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarLojaServlet</servlet-name>
        <url-pattern>/AlterarLojaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
