<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>VendaServlet</servlet-name>
        <servlet-class>br.com.bmrt.conexaobd.servlet.VendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalharVendaLojaServlet</servlet-name>
        <servlet-class>br.com.bmrt.conexaobd.servlet.DetalharVendaLojaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalharVendaClienteServlet</servlet-name>
        <servlet-class>br.com.bmrt.conexaobd.servlet.DetalharVendaClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioVendaServlet</servlet-name>
        <servlet-class>br.com.bmrt.conexaobd.servlet.RelatorioVendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarVendaServlet</servlet-name>
        <servlet-class>br.com.bmrt.conexaobd.servlet.CadastrarVendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirVendaServlet</servlet-name>
        <servlet-class>br.com.bmrt.conexaobd.servlet.ExcluirVendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarVendaServlet</servlet-name>
        <servlet-class>br.com.bmrt.conexaobd.servlet.AlterarVendaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VendaServlet</servlet-name>
        <url-pattern>/VendaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarVendaServlet</servlet-name>
        <url-pattern>/CadastrarVendaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirVendaServlet</servlet-name>
        <url-pattern>/ExcluirVendaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalharVendaLojaServlet</servlet-name>
        <url-pattern>/DetalharVendaLojaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalharVendaClienteServlet</servlet-name>
        <url-pattern>/DetalharVendaClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarVendaServlet</servlet-name>
        <url-pattern>/AlterarVendaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioVendaServlet</servlet-name>
        <url-pattern>/RelatorioVendaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
